.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  align-items: center;
  max-width: 97rem;
  margin: 0 auto; /* Center the container */
  padding: 2rem; /* Add some padding */
}

.fullName {
  margin-bottom: 2rem;
  font-size: clamp(2rem, 8vw, 15rem);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.025em;
}

.firstName,
.lastName {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstName {
  color: #cbd5e1;
  margin-bottom: 0.1em;
}

.lastName {
  color: #64748b;
}

.letterAnimation {
  display: inline-block;
}

.jobTitle {
  display: inline-block;
  background-image: linear-gradient(to top right, #f00b31, #1b7ca8, #20ff33);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 0;
}

.information {
  grid-column: 1;
  grid-row-start: 1;
}

.shapes {
  aspect-ratio: 1 / 1;
}

/** CSS code to manage mobile and */
@media only screen and (max-width: 810px) {
  .container {
    grid-template-columns: repeat(1,minmax(0,1fr));
    gap: 2rem;
  }

  .shapes {
    grid-row: 1;
    height: 50vh;
    width: 100%;
  }

  .information {
    grid-row: 2;
    padding-bottom: 2rem;
  }

  .fullName {
    font-size: clamp(3rem, 12vw, 20rem);
  }

  .jobTitle {
    font-size: clamp(2rem, 4vw, 1.5rem);
  }
}
