.skillSection{
  padding-bottom: 10rem;
}

.canvasWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: 20px;
}

.skillCard {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
