.containerHeader {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 97rem;
  z-index: 100;
  transition: all 0.3s ease;
}

.header {
  padding: 30px 5%;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-around;
  transition: all 0.3s ease;
}

.scrolled .header {
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 5%;
}

.logo {
  font-size: 26px;
  color: var(--second-color);
  font-weight: 600;
  margin-right: auto;
}

.desktopMenu a {
  font-size: 18px;
  color: var(--second-color);
  font-weight: 500;
  margin-right: 35px;
}

.desktopMenu a:hover,
.desktopMenu .active {
  color: var(--third-color);
}

.mobileNav {
  display: none;
}

.footer {
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5%;
  max-width: 97rem;
}

/** CSS for screen between 0px and 810px (small tablet + mobile) */
@media only screen and (max-width: 810px) {
  .desktopMenu {
    display: none;
  }

  .mobileNav {
    display: block;
  }

  /** BURGER */
  .burgerMenu {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 0 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }

  .hamBox {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 24px;
  }

  .hamBoxInner {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--green);
  }

  .hamBoxInner::before,
  .hamBoxInner::after {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--green);
  }

  .hamBoxInner::before {
    width: 120%;
    top: -10px;
    opacity: 1;
    transition:
      top 0.1s ease-in 0.25s,
      opacity 0.1s ease-in;
  }

  .hamBoxInner::after {
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition:
      bottom 0.1s ease-in 0.25s,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .burgerMenu[data-open="true"] .hamBoxInner {
    transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(225deg);
  }

  .burgerMenu[data-open="false"] .hamBoxInner {
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: rotate(0deg);
  }

  .burgerMenu[data-open="false"] .hamBoxInner::before {
    width: 120%;
    top: -10px;
    opacity: 1;
    transition:
      top 0.1s ease-in 0.25s,
      opacity 0.1s ease-in;
  }

  .burgerMenu[data-open="false"] .hamBoxInner::after {
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition:
      bottom 0.1s ease-in 0.25s,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .burgerMenu[data-open="true"] .hamBoxInner::before {
    width: 100%;
    top: 0px;
    opacity: 0;
    transition:
      top 0.1s ease-out,
      opacity 0.1s ease-out 0.12s;
  }

  .burgerMenu[data-open="true"] .hamBoxInner::after {
    width: 100%;
    bottom: 0px;
    transform: rotate(-90deg);
    transition:
      bottom 0.1s ease-out,
      transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  }

  .asideDrawer {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0;
    background-color: var(--black-color);
    box-shadow: -10px 0px 30px -15px var(--eight-color);
    z-index: 9;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .asideDrawer[data-open="true"] {
    visibility: visible;
    transform: translateX(0vw);
  }

  .asideDrawer[data-open="false"] {
    visibility: hidden;
    transform: translateX(100vw);
  }

  .asideDrawer nav {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: var(--white-color);
    font-family: var(--font-mono);
    text-align: center;
  }

  .asideDrawer nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
  }

  .asideDrawer ul li {
    margin-bottom: 10px;
  }

  .asideDrawer ul a {
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    padding: 3px 20px 20px;
  }

  .asideDrawer ul a:hover,
  .asideDrawer ul a:focus-visible {
    color: var(--white-color);
    outline: 0px;
  }
}
